.title {
  position: absolute;
  top: 27px;
  left: 40px;
  font-size: 24px;
  color: #55b80b;
}

.header-section {
  position: relative;
  z-index: 13;
  width: 100%;
  height: 117px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-title {
    cursor: pointer;

    .white-logo {
      position: absolute;
      width: 150px;
      top: 24px;
      left: 177px;
    }
  }

  &-item {
    width: auto;
    display: flex;

    button {
      width: 104px;
      height: 47px;
      border-radius: 248px;
      border: 0;
      font-size: 18px;
      cursor: pointer;
      transition: all 300ms;
    }

    .back-btn {
      background-color: $background-color;
    }

    .save-btn {
      margin-left: 19px;
      background-color: #d9d9d9;
    }

    .publish-btn {
      margin-left: 17px;
      background-color: $primary-color;
      color: white;

      &:hover {
        background-color: #419205;
      }
    }

    &-profile {
      background-color: #cccccc;

      svg {
        width: 20px;
        height: 20px;
        color: white;
      }
    }

    div:not([class$="-profile"]) {
      background-color: white;

      svg {
        width: 20px;
        height: 20px;
        color: black;
        transition: all 200ms;
      }

      &:hover {
        svg {
          width: 23px;
          height: 23px;
        }
      }
    }

    div[class*="-item-"] {
      width: 42px;
      height: 42px;
      margin-left: 23px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.25);
      cursor: pointer;
    }
  }

  .profile-menu {
    overflow: hidden;
    position: absolute;
    z-index: 10;
    top: 81px;
    right: 297px;
    width: 303px;
    height: auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);

    &-user {
      margin: 27px 0 0 24px;
      display: flex;

      &-img {
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #cccccc;
        border-radius: 50%;
        cursor: pointer;

        svg {
          width: 30px;
          height: 30px;
          color: white;
        }
      }

      &-info {
        margin: auto 11px;

        span {
          display: block;
        }

        .id {
          font-size: 16px;
          font-weight: 500;
        }

        .nick {
          margin-top: 4px;
          font-size: 14px;
          font-weight: 300;
          color: $sub-color;
        }
      }
    }

    &-item {
      width: 100%;
      height: auto;
      margin-top: 16px;

      &-account,
      &-help,
      &-logout {
        height: 56px;
        display: flex;
        align-items: center;
        cursor: pointer;

        > svg {
          width: 20px;
          height: 20px;
          margin-left: 24px;
        }

        > span {
          margin-left: 28px;
          font-size: 16px;
        }

        &:hover {
          background-color: $background-color;
        }
      }

      .sap {
        width: 100%;
        height: 1px;
        background-color: #d9d9d9;
      }
    }
  }
}
