.login-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-box {
    width: 1180px;
    height: 786px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);

    &-tip {
      width: calc(100% - 571px);
      height: 100%;
      padding-left: 43px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
      }

      span {
        margin-top: 33px;
        font-size: 16px;
        color: $disable-color;
      }
    }

    &-content {
      width: 571px;
      padding-left: 86px;
      padding-top: 109px;
      display: flex;
      flex-direction: column;

      &-welcome {
        margin-bottom: 91px;
        font-size: 45px;
        font-weight: bold;
        color: $primary-color;
      }

      &-input,
      &-input-active {
        width: 359px;
        height: 47px;
        padding: 0 22px 0 32px;
        display: flex;
        align-items: center;
        border: 3px solid $background-color;
        border-radius: 248px;
      }

      &-input {
        background-color: white;

        input,
        &-active input {
          width: 100%;
          height: 100%;
          background: none;
          border: 0;
          outline: 0;
          font-size: 16px;
          color: #928d8d;
        }

        &-active {
          background-color: white;
          border: 3px solid $primary-color;
        }
      }

      &-interval {
        width: 100%;
        height: 23px;
      }

      // -input인 경우랑 -input-active인 경우 모두 적용하려고 바깥으로 뺌
      .check-icon {
        color: #2dd042;
      }

      .eye-icon {
        opacity: 0.5;
        cursor: pointer;
        transition: all 200ms;

        &:hover {
          opacity: 1;
        }
      }

      &-save {
        width: 359px;
        margin: 21px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &-check {
          display: none;
        }

        &-check + label {
          width: 14px;
          height: 14px;
          display: inline-block;
          border: 2px solid $primary-color;
          cursor: pointer;
          transition: all 200ms;
        }

        &-check:checked + label {
          width: 14px;
          height: 14px;
          display: inline-block;
          background-color: $primary-color;
          border: 2px solid $primary-color;
          cursor: pointer;

          .check-icon {
            display: block;
            color: white;
            font-size: 11px;
          }
        }

        span {
          margin-left: 9px;
          font-size: 15px;
          font-weight: normal;
        }
      }

      &-login-btn {
        width: 359px;
        height: 59px;
        background-color: $primary-color;
        border: 0;
        border-radius: 248px;
        outline: 0;
        font-size: 16px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        transition: all 200ms;

        &:hover {
          background-color: #419205;
        }
      }

      &-find {
        width: 359px;
        margin-top: 21px;
        display: flex;
        justify-content: center;

        span {
          margin: 0 10px;
          font-size: 15px;
          color: $disable-color;
        }

        .id,
        .passwd,
        .signup {
          cursor: pointer;
          transition: all 200ms;

          &:hover {
            font-weight: bold;
          }
        }
      }

      &-simple {
        width: 359px;

        &-title {
          width: 100%;
          margin-top: 70px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          &-line {
            width: 125px;
            height: 1px;
            border-bottom: 1px solid #c9c9c9;
          }

          span {
            font-size: 16px;
            color: $disable-color;
          }
        }

        &-icon {
          display: flex;
          justify-content: center;

          img {
            width: 66px;
            height: 66px;
            margin: 14px 8px;
            border-radius: 50%;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.register-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &-box {
    position: relative;
    width: 733px;
    height: 786px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);

    &-title {
      position: absolute;
      top: 120px;
      left: 136px;
      font-size: 40px;
      font-weight: bold;
      color: $primary-color;
    }

    // 1차 기입
    // 일반 input이랑 id input
    &-input,
    &-input-id {
      width: 459px;
      height: 59px;
      display: flex;
      align-items: center;
    }

    &-input {
      padding: 0 22px 0 32px;
      align-items: center;
      background-color: white;
      border: 3px solid $background-color;
      border-radius: 248px;

      input,
      &-active input,
      &-active-wrong input {
        width: 100%;
        height: 55px;
        background: none;
        border: 0;
        outline: 0;
        font-size: 16px;
        color: #928d8d;
      }

      &-active,
      &-active-wrong {
        width: 459px;
        height: 59px;
        padding: 0 22px 0 32px;
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 248px;
      }

      &-active {
        border: 3px solid $primary-color;
      }

      &-active-wrong {
        border: 3px solid #e00d0d;
      }

      .eye-icon {
        cursor: pointer;
      }
    }

    // id-input이랑 id-input-active
    &-input-id,
    &-input-id-active {
      input {
        width: 353px;
        height: 100%;
        padding: 0 22px 0 32px;
        background-color: white;
        border: 3px solid $background-color;
        border-radius: 248px 0 0 248px;
        outline: 0;
        font-size: 16px;
        color: #928d8d;
      }

      button {
        width: 105px;
        height: 59px;
        background-color: $background-color;
        border: 0;
        border-radius: 0 248px 248px 0;
        outline: 0;
        font-size: 16px;
        cursor: pointer;
        transition: all 200ms;

        &:hover {
          background-color: $primary-color;
          color: white;
        }
      }
    }

    &-input-id-active {
      height: 59px;
      display: flex;
      align-items: center;

      input {
        height: 100%;
        background-color: white;
        border: 3px solid $primary-color;
      }
    }

    &-interval {
      width: 100%;
      height: 31px;
    }

    &-btn {
      position: absolute;
      right: 140px;
      bottom: 128px;
      display: flex;

      &-prev,
      &-next {
        width: 104px;
        height: 47px;
        border: 0;
        border-radius: 248px;
        font-size: 16px;
        cursor: pointer;
        transition: all 200ms;
      }

      &-prev {
        margin-right: 7px;
        background-color: $background-color;

        &:hover {
          background-color: #cccccc;
        }
      }

      &-next {
        background-color: $primary-color;
        color: white;

        &:hover {
          background-color: #419205;
        }
      }
    }

    // 2차 기입
    &-input-email,
    &-input-email-active {
      width: 100%;
      height: 59px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > span {
        font-size: 20px;
        color: #b8b8b8;
      }

      input {
        width: 185px;
        height: 100%;
        padding: 0 22px 0 32px;
        border-radius: 248px;
        outline: 0;
        font-size: 16px;
      }

      button {
        width: 58px;
        height: 58px;
        border: 0;
        border-radius: 50%;
        cursor: pointer;

        .down-icon {
          font-size: 22px;
        }
      }
    }

    &-input-email {
      input {
        background-color: white;
        border: 3px solid $background-color;
      }
    }

    &-input-email-active {
      input {
        border: 3px solid $primary-color;
      }
    }

    &-passwd-tip {
      position: absolute;
      margin-top: 10px;
      font-size: 14px;
      color: #e00d0d;
    }
  }

  &-success {
    position: relative;
    width: 1180px;
    height: 786px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);

    .check-icon {
      font-size: 123px;
      color: $primary-color;
      transition: font-size 400ms;
    }

    &-msg {
      margin-top: 25px;
      font-size: 40px;

      b {
        font-weight: bold;
      }
    }

    &-user {
      margin-top: 29px;
      text-align: center;
      font-size: 16px;

      span {
        display: block;
      }
    }

    &-line {
      width: 535px;
      height: 1px;
      margin-top: 43px;
      background-color: #7f8081;
    }

    &-btn {
      margin-top: 50px;

      button {
        width: 104px;
        height: 47px;
        border: 0;
        border-radius: 248px;
        font-size: 14px;
        cursor: pointer;
        transition: all 200ms;
      }

      &-home:hover {
        background-color: #cccccc;
      }

      &-login {
        margin-left: 17px;
        background-color: $primary-color;
        color: white;

        &:hover {
          background-color: #419205;
        }
      }
    }
  }
}

.personal-section {
  background-color: #f5f5f5;

  &-banner {
    position: relative;
    width: 100%;
    height: 441px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-content {
      position: absolute;
      left: 257px;
      bottom: 52px;
      color: white;

      span {
        display: block;
        font-weight: 500;
      }

      &-title {
        margin-bottom: 14px;
        font-size: 60px;
      }

      &-sub {
        overflow: scroll;
        width: 686px;
        height: 60px;
        font-size: 25px;
      }
    }
  }

  &-header {
    width: 1342px;
    height: 61px;
    margin: 33px auto;
    padding: 0 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 30px;

    span {
      font-size: 15px;
      font-weight: 300;
      color: $disable-color;
    }

    &-menu {
      > span {
        margin-right: 30px;
        cursor: pointer;
        transition: all 200ms;

        &:hover {
          color: black;
        }
      }
    }

    &-last {
      > span {
        margin-left: 30px;
      }
    }
  }

  &-body {
    width: 1341px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    &-feed {
      width: 1023px;
      margin-bottom: 42px;

      > div {
        margin-bottom: 25px;
        background-color: white;
        border-radius: 30px;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
      }

      &-hot {
        height: 842px;
      }

      &-new {
        height: 938px;
      }
    }

    &-category {
      width: 237px;

      &-profile {
        height: 460px;
        background-color: white;
        border-radius: 30px;
      }
    }
  }
}

.my-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;

  .header-section {
    border-bottom: solid 3px #d9d9d9;
  }

  .category {
    z-index: 13;
    position: absolute;
    top: 133px;
    left: 21px;
    width: 38px;
    height: 40px;
    color: $primary-color;
    transition: all 200ms;

    &:hover {
      color: #419205;
    }
  }

  &-category {
    &-closed {
      opacity: 0;
      position: absolute;
      top: 117px;
      left: 0;
      transform: translateX(-400%);
      width: auto;
      height: calc(100% - 117px);
      transition: all 500ms;
    }

    &-opened {
      z-index: 14;
      position: absolute;
      top: 117px;
      left: 0;
      width: auto;
      height: calc(100% - 117px);
      display: flex;
      flex-direction: column;
      background-color: #ebebeb;
      transition: all 500ms;

      &-header {
        width: 100%;
        height: 87px;
        display: flex;
        align-items: center;
        border-bottom: solid 3px #d9d9d9;

        &-icon {
          width: 80px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-right: solid 3px #d9d9d9;

          > svg {
            width: 42px;
            height: 38px;
            color: $primary-color;
          }
        }

        &-menu {
          width: calc(100% - 80px);
          padding: 0 42px 0 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          > i {
            font-size: 30px;
            color: #979797;
            cursor: pointer;
          }

          &-category {
            display: flex;
            align-items: center;

            > i {
              font-size: 38px;
              color: #979797;
            }

            > span {
              margin-left: 15px;
              font-size: 20px;
              font-weight: 800;
            }
          }
        }
      }

      &-body {
        height: calc(100% - 87px);
        display: flex;

        &-first,
        &-second {
          border-right: solid 3px #d9d9d9;
        }

        &-first {
          width: 80px;
        }

        &-second {
          width: 190px;

          &-item {
            width: 100%;
            height: 66px;
            padding-left: 17px;
            display: flex;
            align-items: center;
            font-size: 22px;

            &:hover {
              background-color: #d9d9d9;
            }
          }
        }

        &-third {
          width: 198px;
        }
      }

      &-footer {
        width: auto;
        height: 78px;
        display: flex;
        border-top: solid 3px #d9d9d9;

        > div {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          font-weight: 800;
          cursor: pointer;

          > i {
            margin-left: 7px;
          }
        }

        &-delete,
        &-create {
          border-right: solid 3px #d9d9d9;
        }

        &-delete {
          width: 80px;
        }

        &-create {
          width: 190px;
        }

        &-edit {
          width: 198px;
        }
      }
    }
  }

  .sub {
    margin-top: 23px;
    font-size: 16px;
    color: $sub-color;
  }

  .main {
    margin-top: 10px;
    font-size: 50px;
    color: black;
  }

  &-search {
    position: absolute;
    top: 125px;
    right: 10px;
    width: 482px;
    height: 46px;
    padding-left: 9px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    > svg {
      width: 33px;
      height: 31px;
      color: $sub-color;
    }

    > input {
      width: 400px;
      height: 40px;
      margin-left: 12px;
      border: 0;
      outline: 0;
      font-size: 22px;
    }
  }

  &-list {
    width: calc(801px + 36px);
    height: auto;
    margin-top: 75px;

    &-sort {
      margin: 0 0 11px 18px;
      font-size: 16px;
      color: $sub-color;
    }

    &-item {
      width: 242px;
      margin: 0 18px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      float: left;
      cursor: pointer;

      &-img {
        overflow: hidden;
        width: 242px;
        height: 241px;
        display: flex;
        justify-content: center;
        align-items: center;

        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 300ms;
        }
      }

      &-title {
        margin: 17px 0 27px 0;
        width: 100%;
        font-size: 22px;
      }

      &:hover {
        img {
          width: 110%;
          height: 110%;
        }
      }
    }
  }
}

.set-section {
  overflow: hidden;
  position: relative;
  height: 100vh;
  background-color: #f5f5f5;

  &-circle,
  &-circle-edit {
    > div {
      position: absolute;
    }

    position: absolute;
    top: -215px;
    left: -518px;
    width: 1919px;
    height: 2401px;
    border-radius: 50%;

    &-profile {
      top: 603px;
      right: 575px;
      width: 608px;
      height: 607px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border: solid 10px $primary-color;
      border-radius: 50%;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      font-size: 20px;
    }

    &-camera {
      top: 1078px;
      right: 612px;
      width: 94px;
      height: 94px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $primary-color;
      border-radius: 50%;

      > svg {
        width: 55px;
        height: 50px;
        color: black;
      }
    }
  }

  &-circle {
    background: linear-gradient(#58a91c, rgba(150, 224, 132, 0));

    div {
      position: absolute;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    &-nickname,
    &-id,
    &-info {
      width: 264px;
      height: 257px;
      background-color: white;
      border: solid 4px $primary-color;
      border-radius: 50%;

      .label {
        position: absolute;
        margin-top: -10px;
        font-size: 20px;
      }

      &-input {
        width: 181px;
        height: 129px;
        margin: 27px 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 4px $primary-color;
        border-radius: 69px;
        font-size: 20px;
      }
    }

    &-id {
      top: 381px;
      right: 484px;
    }

    &-nickname {
      top: 638px;
      right: 241px;
    }

    &-info {
      top: 972px;
      right: 145px;
    }
  }

  &-circle-edit {
    background: linear-gradient(white, rgba(150, 224, 132, 0));

    &-nickname,
    &-id,
    &-info {
      right: 173px;
      width: 287px;
      height: 105px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .label {
        font-size: 20px;
        color: $sub-color;
      }

      &-input {
        width: 100%;
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 297px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

        input {
          width: 90%;
          height: 50px;
          border: 0;
          outline: 0;
          font-size: 20px;
          color: black;

          &::placeholder {
            color: black;
          }
        }
      }
    }

    &-id {
      top: 642px;
    }

    &-nickname {
      top: 788px;
    }

    &-info {
      top: 936px;
    }
  }

  .back-btn {
    position: absolute;
    top: 129px;
    left: 54px;
    display: flex;
    align-items: center;
    cursor: pointer;

    > svg {
      width: 17px;
      height: 17px;
    }

    > span {
      font-size: 16px;
    }
  }

  .edit-title {
    position: absolute;
    top: 120px;
    left: 189px;
    font-size: 30px;
    color: $primary-color;
  }

  &-button {
    position: absolute;
    top: 471px;
    right: 21px;
    display: flex;

    button {
      width: 181px;
      height: 58px;
      border-radius: 69px;
      font-size: 20px;
      transition: all 200ms;
    }

    .save-btn {
      background-color: $primary-color;
      border: 0;
      color: white;

      &:hover {
        background-color: #419205;
      }
    }

    .cancel-btn {
      margin-left: 17px;
      background-color: white;
      border: solid 4px $primary-color;
      color: $primary-color;

      &:hover {
        border: solid 4px #419205;
      }
    }
  }

  .edit-btn {
    position: absolute;
    top: 471px;
    right: 130px;
    width: 181px;
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid 4px $primary-color;
    border-radius: 69px;
    cursor: pointer;
    transition: all 200ms;

    > svg {
      width: 26px;
      height: 23px;
      color: $primary-color;
    }

    > span {
      margin-left: 12px;
      font-size: 20px;
      color: $primary-color;
    }

    &:hover {
      border: solid 4px #419205;
    }
  }

  &-last {
    position: absolute;
    bottom: 22px;
    right: 26px;
    width: 293px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $disable-color;

    .label {
      font-size: 15px;
    }

    .item {
      font-size: 16px;
    }
  }
}
