.login-section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-box {
    width: 1180px;
    height: 786px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);

    &-tip {
      width: 50%;
      height: 100%;
      background-color: gray;
    }

    &-content {
      width: 50%;
      padding-left: 86px;
      padding-top: 109px;
      display: flex;
      flex-direction: column;

      &-welcome {
        margin-bottom: 53px;
        font-size: 45px;
        color: #55b80b;
      }

      &-input {
        width: 359px;
        height: 59px;
        padding: 0 22px 0 32px;
        display: flex;
        align-items: center;
        background-color: #ebebeb;
        border-radius: 248px;

        input {
          width: 100%;
          height: 55px;
          background-color: #ebebeb;
          border: 0;
          outline: 0;
          font-size: 16px;
          font-weight: lighter;
          color: #928d8d;
        }

        &-active {
          width: 359px;
          height: 59px;
          padding: 0 22px 0 32px;
          display: flex;
          align-items: center;
          background-color: rgba(85, 184, 11, 0.14);
          border: 3px solid #55b80b;
          border-radius: 248px;

          input {
            width: 100%;
            height: 55px;
            background: none;
            border: 0;
            outline: 0;
            font-size: 16px;
            font-weight: lighter;
            color: #928d8d;
          }
        }
      }

      &-interval {
        width: 100%;
        height: 31px;
      }

      // -input인 경우랑 -input-active인 경우 모두 적용하려고 바깥으로 뺌
      .check-icon {
        color: #2dd042;
      }

      .eye-icon {
        opacity: 0.5;
        cursor: pointer;
        transition: all 200ms;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
